%li= link_to '主页', root_path, class: 'navbar-brand'
%li= link_to '帮助', '#', class: 'navbar-brand'
- if signed_in?
  %li= link_to "所有用户", '#', class: 'navbar-brand'
  .navbar-brand
    %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
      %b.caret
      我的帐户
    %ul.dropdown-menu
      %li= link_to "帐户资料 ", root_path
      %li= link_to "设置", '#'
      %li.divider
      %li= link_to "退出登录", signout_path, method: "delete"
- else
  %li= link_to '登录', signin_path, class: 'navbar-brand'